{% extends "users/layout.html" %}

{% block body %}
    <h1>Welcome, {{request.user.first_name }}</h1>

    <ul>
        <li>Username : {{request.user.username}}</li>
        <li>Email : {{ request.user.email }}</li>
    </ul>

    <a href="http://127.0.0.1:8000/admin/Market/userfruits/">Add More </a>
    <h2>Fruits</h2>
    <ul>
        {% for fruit in user  %}
        <li>
            {{fruit.Fruit.Fruit}} : {{fruit.Fruit.Price}}  
        </li>
        {% endfor %}
        
    </ul>

    <h2>Vegitable</h2>
    <ul>
        {% for vegi in Vegitable  %}
        <li>    
            {{vegi.Vegitable.Vegitable}} : {{vegi.Vegitable.Price}}
        </li>
        {% endfor %}
    </ul>

    <h2>Rice</h2>
    <ul>
        {% for rice in Rice %}
            <li>
                {{rice.rice.rice}} : {{rice.rice.Price}}
            </li>
        {% endfor %}
    </ul>

    <h2>Lentils</h2>
    <ul>
        {% for lentil in Lentils %}
            <li>
                {{lentil.lentil.Lentil}} : {{lentil.lentil.Price}}
            </li>
        {% endfor %}
    </ul>

    <h2>Grocessory</h2>
    <ul>
        {% for gocessory in Grocessory %}
            <li>
                {{gocessory.Grocessory.grocessory}} : {{gocessory.Grocessory.Price}}
            </li>
        {% endfor %}
    </ul>


    
    <a href="{% url 'logout' %}">Log Out</a>


{% endblock %}